@model Prode.Models.EquipoJugador

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>EquipoJugador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaVigenciaDesde)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaVigenciaDesde)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaVigenciaHasta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaVigenciaHasta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Equipo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Equipo.Codigo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Jugador)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Jugador.Apellido)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EquipoJugadorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
